 
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
    
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Content-Style-Type" content="text/css"/>
        <!-- Sönke -->
        <meta name="google-site-verification" content="ghf5IHO-zJl4S5v1ONoVCnCAKQjMizsyURnhvuFnRaM"/>
        <!-- Ingo -->
        <meta name="google-site-verification" content="eMIObGsYnRm0CyYMRaWQQT3iGRNy1SPvGMqI22Q8oIc"/>
        <meta name="historyhelper" content="homepage"/>
        <meta name="analytics" content="UA-579640-36"/>
        <link rel="stylesheet" type="text/css" href="/app/base/static/zitty/styles.css?1620" id="maincss"/>
        <!--[if IE 6]> <link rel="stylesheet" type="text/css" href="/app/base/static/zitty/ie6.cs?1620" /><![endif]-->
        <!--[if IE 7]> <link rel="stylesheet" type="text/css" href="/app/base/static/zitty/ie7.css?1620" /><![endif]-->
        <!--[if IE 8]> <link rel="stylesheet" type="text/css" href="/app/base/static/zitty/ie8.css?1620" /><![endif]-->
        <title>Stadtmagazin Berlin - Veranstaltungen und Kino</title>
        <script type="text/javascript">
        // <![CDATA[
        document.getElementsByTagName("html")[0].className = "js-enabled";
        var device = {
            mobile: (navigator.userAgent.indexOf("Mobile")>0 && navigator.userAgent.indexOf("AppleWebKit")>0) ? true : false,
            width : (window.innerWidth || (document.body ? document.body.offsetWidth : 1200)),
            height: (window.innerHeight || (document.body ? document.body.offsetHeight : 1000)),
            orientation: "landscape"
        };
        // ]]>
        </script>
    </head>
    <body class="ajaxify" data-command="feedback">
        <div id="ivw">
            <script type="text/javascript">
            // <![CDATA[
            var IVW="http://zitty.ivwbox.de/cgi-bin/ivw/CP/home";
            document.write("<img src=\""+IVW+"?r="+escape(document.referrer)+"&d="+(Math.random()*100000)+"\" width=\"1\" height=\"1\" />");
            // ]]>
            </script>
            <noscript>
                <img src="http://zitty.ivwbox.de/cgi-bin/ivw/CP/home;" width="1" height="1" alt="zitty: IVW"/>
            </noscript>
        </div>
		<div id="outside" class="wide ajaxify" data-command="setViewport">
	        <div class="dins">
	            <div id="superdins"></div>
	            <div id="skydins"></div>
	            <div id="layerdins"></div>
	        </div>
	        <div class="main-wrapper">
	            <div id="header">
	                <a href="/" title="ZITTY Berlin" class="logo">ZITTY Berlin</a>
	                <ul class="navi">
    <li><a href="http://blog.zitty.de">Blogs</a></li>
    <li><a href="http://service.zitty.de/abo/">Abo</a></li>
    <li><a href="http://kleinanzeigen.zitty.de">Kleinanzeigen</a></li>
    <li><a href="http://shop.zitty.de">Shop</a></li>
    <li><a href="http://www.berlin-ticket.de">Tickets</a></li>
    <li><a href="http://www.zitty.de/page/mediadaten.html">Mediadaten</a></li>
    <li><a href="http://www.zitty.de/page/impressum.html">Kontakt</a></li>
    <li><a href="http://www.zitty.de/page/impressum.html">Impressum</a></li>
    <li class="collection"><a href="http://zitty.me">Merkliste</a></li>
</ul>
	                <span class="date">Donnerstag, 30. Dez 2010</span>
	            </div>
	            <div id="content">
	                
        <div class="flipstage ajaxify" data-command="sushibar">
            <ul>
                
    
    <li>
        <div class="wrapper">
            <h2>3,2,1,...</h2>
            <h3>Silvester für Kurzentschlossene</h3>
            <a href="/silvester-fur-kurzentschlossene.html"><img src="http://static.zitty.de/fm/16/thumbnails/z04_NEU%20FranziskaSinn_0898%20Kopie.129626.jpg.129627.jpg" alt="meal/alt"/></a>
            <p>
                <span class="cs6BlockElements cs6BlockElementsOpen cs6ElementContent" id="id6BlockContent34">Immer noch keinen Plan für Silvester? Hier sind unsere Vorschläge für Kurzentschlossene <small>Foto:Franziska Sinn</small></span>
                <a href="/silvester-fur-kurzentschlossene.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Tops &amp; Flops 2010</h2>
            <h3>Bühne</h3>
            <a href="/schlingensief-sarrazin-und-sexarbeiter.html"><img src="http://static.zitty.de/fm/16/thumbnails/z13_Verruecktes_blut_SUSHI.jpg.129597.jpg" alt="meal/alt"/></a>
            <p>
                <span class="cs6BlockElements cs6BlockElementsOpen cs6ElementContent" id="id6BlockContent34">Im Berliner Theaterjahr 2010 zeigten sich viele Bühnen vital und überraschend – bis auf eine... <small>Foto:Ute Langkafel / MAI Foto</small></span>
                <a href="/schlingensief-sarrazin-und-sexarbeiter.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    <li class="dins-slot hidden">         
        <div id="dins4" data-parent=".dins-slot"></div>
    </li>
    <li>
        <div class="wrapper">
            <h2>Verlosung</h2>
            <h3>Immer Drama um Tamara </h3>
            <a href="/tamara-drewe.html"><img src="http://static.zitty.de/fm/16/thumbnails/TamaraDrewe_Cover_cut.jpg.122637.jpg" alt="meal/alt"/></a>
            <p>
                <span class="cs6BlockElements cs6BlockElementsOpen cs6ElementContent" id="id6BlockContent34">zitty und Prokino Filmverleih verlosen passend zum Kinostart fünf Exemplare des Kultcomics "Tamara Drewe“</span> 
                <a href="/tamara-drewe.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Literatur</h2>
            <h3>Geschichte als Konjunktiv</h3>
            <a href="geschichte-als-konjunktiv.html"><img src="http://static.zitty.de/fm/16/thumbnails/z15_SZ-Photo_251907_high.122360.jpg.122361.jpg" alt="meal/alt"/></a>
            <p>
                Alternativwelt-Romane oder die Frage: Was wäre, wenn? <i><span class="cs6ElementContent cs6ElementContent"><small>Foto: SZ Photo /Scherl</small></span><span class="cs6ElementContent cs6ElementContent"><small> </small></span></i>
                <a href="geschichte-als-konjunktiv.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Titelthema</h2>
            <h3>Krise? Welche Krise?</h3>
            <a href="krise-welche-krise.html"><img src="http://static.zitty.de/fm/16/thumbnails/z04_MG_5911_danielseiffert_%28c%2907.%20Dezember%202010.122336.jpg.122337.jpg" alt="meal/alt"/></a>
            <p>
                Zwei Berliner Unternehmen beweisen, dass es in der Musikbranche nicht überall bergab geht - ganz im Gegenteil <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: Daniel Seiffert</small></i><i><small> </small></i></span>
                <a href="krise-welche-krise.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Titelthema</h2>
            <h3>»Wie in Silicon Valley«</h3>
            <a href="wie-in-silicon-valley.html"><img src="http://static.zitty.de/fm/16/thumbnails/z04_MG_6096_danielseiffert_%28c%2908.%20Dezember%202010.122348.jpg.122349.jpg" alt="meal/alt"/></a>
            <p>
                Die Games-Industrie erwirtschaftet seit 2009 mehr als Hollywood. Auch in Berlin passiert einiges: Dave Chang, Geschäftsführer von OnNet Europe, erzählt warum <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: Daniel Seiffert</small></i><i><small> </small></i></span>
                <a href="wie-in-silicon-valley.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Titelthema</h2>
            <h3>»Katastrophal und prekär«</h3>
            <a href="katastrophal-und-prekar.html"><img src="http://static.zitty.de/fm/16/thumbnails/z04_fridaweyer_portrait_sw.jpg.122331.jpg" alt="meal/alt"/></a>
            <p>
                Stimmen der Branche erklären, was sie sich für 2011 so wünschen <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: privat</small></i><i><small> </small></i></span>
                <a href="katastrophal-und-prekar.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Tops &amp; Flops 2010</h2>
            <h3>Kino</h3>
            <a href="/kleiner-film-ganz-gross.html"><img src="http://static.zitty.de/fm/16/thumbnails/z11_42Inception1.129614.jpg.129615.jpg" alt="meal/alt"/></a>
            <p>
                <span class="cs6BlockElements cs6BlockElementsOpen cs6ElementContent" id="id6BlockContent34">Im Kinojahr 2010 triumphieren die USA, schwächelt Europa – und der deutsche Film geht neue Wege&nbsp; <small>Foto: Warner</small> </span>
                <a href="/kleiner-film-ganz-gross.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Titelthema</h2>
            <h3>Berlins Kreativ-Prekariat</h3>
            <a href="wie-viele-kreative-vertragt-die-stadt.html"><img src="http://static.zitty.de/fm/16/thumbnails/z04_MG_5352_danielseiffert_%28c%2906.%20Dezember%202010.121622.jpg.121623.jpg" alt="meal/alt"/></a>
            <p>
                Es sind über 180.000, sie erwirtschaften 15 % des BIP von Berlin. Aber was haben eigentlich die Kreativen von ihrem Image als Wachstumsmotor? <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: Daniel Seiffert</small></i><i><small> </small></i></span>
                <a href="wie-viele-kreative-vertragt-die-stadt.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Konzert</h2>
            <h3>Der Karriereberater</h3>
            <a href="der-karriereberater.html"><img src="http://static.zitty.de/fm/16/thumbnails/z12_Usher%20Promo.jpg.121617.jpg" alt="meal/alt"/></a>
            <p>
                Der amerikanische R&amp;B-Superstar Usher weiß, was seine Fans wollen. Und gibt sein Expertenwissen auch an junge Popper weiter <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: Promo</small></i><i><small> </small></i></span>
                <a href="der-karriereberater.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Stil</h2>
            <h3>Auf zu neuen Ufern</h3>
            <a href="auf-zu-neuen-ufern.html"><img src="http://static.zitty.de/fm/16/thumbnails/z08_X6R3105%20Kopie.jpg.122355.jpg" alt="meal/alt"/></a>
            <p>
                <span class="cs6BlockElements cs6BlockElementsOpen cs6ElementContent" id="id6BlockContent34">Der Berlinomat schließt Ende Januar seine Friedrichshainer Pforten und zieht um</span> <span class="cs6ElementContent cs6ElementContent"><i><small>Foto: Felix Müller</small></i><i><small> </small></i></span>
                <a href="auf-zu-neuen-ufern.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Stil</h2>
            <h3>»Verbraucher wissen nicht, was sie wollen«</h3>
            <a href="verbraucher-wissen-nicht-was-sie-wollen.html"><img src="http://static.zitty.de/fm/16/thumbnails/z08_IMG_4148_sch%C3%A4rfer.121610.jpg.121611.jpg" alt="meal/alt"/></a>
            <p>
                Adam Fletcher verkauft T-Shirts, die er für seine Kunden aussucht. In der Entmündigung des Verbrauchers sieht er ein Geschäftsmodell <span class="cs6ElementContent cs6ElementContent cs6ElementContent"><i><small>Foto: Fabian Soethof</small></i><i><small> </small></i></span>
                <a href="verbraucher-wissen-nicht-was-sie-wollen.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>Silvester-Vorschau</h2>
            <h3>Frohes Neues!</h3>
            <a href="frohes-neues.html"><img src="http://static.zitty.de/fm/16/thumbnails/z06_silvester2.112022.jpg.112023.jpg" alt="meal/alt"/></a>
            <p>
                Wer die Jahreswende nicht vor der Tür eines Club verbringen möchte, sollte vielleicht vorher Karten organisieren<span class="cs6ElementContent cs6ElementContent c1"><small> </small></span>
                <a href="frohes-neues.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

    
    <li>
        <div class="wrapper">
            <h2>zitty.de Relaunch</h2>
            <h3>In eigener Sache</h3>
            <a href="willkommen-auf-unserer-neuen-internetseite.html"><img src="http://static.zitty.de/fm/16/thumbnails/ziittyyyt-1.jpg.120621.jpg" alt="meal/alt"/></a>
            <p>
                Schneller, genauer, umfassender - schauen Sie sich um und sagen Sie uns Ihre Meinung <span class="cs6ElementContent"><i><small>Foto: zitty Online</small></i><i><small> </small></i></span>
                <a href="willkommen-auf-unserer-neuen-internetseite.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a>
            </p>
        </div>
    </li>

                
                
                
                
                
            </ul>
        </div>
        <div id="searchbox">
            <div class="wrapper">
                <form method="get" action="/list">
                    <input type="text" name="q" class="ajaxify" data-command="initFocus"/>
                    <input type="submit" class="submit" value="Suchen"/>
                </form>
                <a href="/list?date=30-12-2010">Erweiterte Suche</a>
                <a href="/list?date=30-12-2010">Heute</a>
            </div>
        </div>
        <div class="printteaser">
            <div class="wrapper">
                <img alt="Die aktuelle ZITTY" src="http://static.zitty.de/fm/16/thumbnails/zitty01_U1.jpg.129589.jpg"/>
                <div class="inner"><b><u>Zitty 26: vom 30. 12. bis 12. 1. 2011 </u><br></b><b>Silvester für Kurzentschlossene</b><br><b>Der Tag danach <small></small></b><small>Rezepte gegen den Neujahrskater<b></b></small><b><br>Das Jahr davor </b><small>Die kulturellen Höhepunkte 2010</small>











































</div>
            </div>
        </div>
        <div class="eventlist section">
            <h2>Tagestipps vom  30.12.2010</h2>
            <ul>
                <li>
    <h3>Finale::</h3>
    <h4><a href="/franz-stadlers-last-picture-show.html">Franz Stadlers Last Picture Show</a></h4>
    <p>37 Jahre lang hat Franz Stadler (70, Foto) das Charlottenburger Filmkunst... <a href="/franz-stadlers-last-picture-show.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a></p>
</li><li>
    <h3>für Jahresendzeitfigurenliebhaber:</h3>
    <h4><a href="/city-feat-dirk-michaelis.html">City & Dirk Michaelis</a></h4>
    <p>Sie standen irgendwann am Fenster, haben dem vor diesem befindlichen Schneetreiben... <a href="/city-feat-dirk-michaelis.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a></p>
</li><li>
    <h3>für Eltern:</h3>
    <h4><a href="/oh-wie-schon-ist-panama-3.html">Oh wie schön ist Panama</a></h4>
    <p>	

KINDERTHEATER - Wie schön es in Panama wirklich ist oder auch nicht... <a href="/oh-wie-schon-ist-panama-3.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a></p>
</li>
                
                
            </ul>
            <ul>
                <li>
    <h3>für Panka:</h3>
    <h4><a href="/rawside-rasta-knast-abeueda-special-guest.html">Rawside, Rasta Knast, u.a.</a></h4>
    <p>Die Toten Hosen sind bei weitem nicht die einzigen deutschen Punk-Botschafter... <a href="/rawside-rasta-knast-abeueda-special-guest.html">[&nbsp;&raquo;&nbsp;]</a></p>
</li><li>
    <h3>für Geradlinige:</h3>
    <h4><a href="/weg-zum-gluck.html">Weg zum Glück</a></h4>
    <p>PREMIERE - Irritation pur bietet der Schauspieler Bernd Moss in einem Solo... <a href="/weg-zum-gluck.html">[&nbsp;&raquo;&nbsp;]</a></p>
</li><li>
    <h3>nicht nur für Mädchen:</h3>
    <h4><a href="/rapunzel-schneewittchen-2.html">Rapunzel/Schneewittchen</a></h4>
    <p>Zwei klassische Mädchenmärchen stehen heute auf dem Programm. Was keineswegs... <a href="/rapunzel-schneewittchen-2.html">[&nbsp;&raquo;&nbsp;]</a></p>
</li>
                
                
            </ul>
        </div>
        <div class="teaser section">
            <h2>Das perfekte Wochenende vom 31.12. bis zum 02.01.</h2>
            <p>Immer noch und schon wieder Partysüchtige können ohne Runterkommen im Horst Krzbg noch mal 24 Stunden drauflegen. Feiern, was sonst, ist auch im Stadtbad Oderberger angesagt. Nach Silvesterorgien heißt es aber für den hartgesonnenen Kulturliebhaber erstmal: Die Dinge ruhig angehen lassen und - die Eisbahn am Potsdamer Platz ist geöffnet und steht kleinen und großen Talenten und solchen, die es werden wollen, gratis zur Verfügung.  <a href="vom-31-dezember-bis-02-januar.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a></p>
        </div>
        <div class="sitemap" data-command="sushibar">
            <ul class="stage">
                <li>
                    <h2>Kino</h2>
                    <ul>
                        <li><a href="/list?type=cinema">Alle Filme</a></li>
                        <li><a href="/list?type=address&amp;category[categories]=Kinos">Alle Kinos</a></li>
                        <li><a href="/list?type=cinema&amp;category[versions]=Premiere">Premieren der Woche</a></li>
                        <li><a href="/list?q=%22Kinderfilm%22">Kinderfilme der Woche</a></li>
                        <li><a href="/list?type=cinema&amp;category[versions]=OV">Originalversionen</a></li>
                        <li><a href="/list?type=cinema&amp;category[versions]=3D">3D-Filme</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Berliner Adressen</h2>
                    <ul>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Bars+%26+Lounges">Bars &amp; Lounges</a></li>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Clubs">Clubs</a></li>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Musik-+%26+Partylocations">Musik &amp; Partylocations</a></li>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Gastro">Gastro</a></li>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Diskotheken">Diskotheken</a></li>
                        <li><a href="/list?group[districts]=Berlin&amp;type=address&amp;category[categories]=Restaurants">Restaurants</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Kalender</h2>
                    <ul class="calendar">
                        <li class="days">
                            <ul>
                                <li>Mo</li>
                                <li>Di</li>
                                <li>Mi</li>
                                <li>Do</li>
                                <li>Fr</li>
                                <li>Sa</li>
                                <li>So</li>
                            </ul>
                        </li>
                        <li class="month">
    <strong>Dezember</strong>
    
</li><li class="days">
    
    <ul>
        <li>27</li><li>28</li><li>29</li><li><a href="list?date=30-12-2010">30</a></li><li><a href="list?date=31-12-2010">31</a></li><li></li><li></li>
    </ul>
</li><li class="month">
    <strong>Januar</strong>
    
</li><li class="days">
    
    <ul>
        <li></li><li></li><li></li><li></li><li></li><li><a href="list?date=01-01-2011">01</a></li><li><a href="list?date=02-01-2011">02</a></li>
    </ul>
</li><li class="days">
    
    <ul>
        <li><a href="list?date=03-01-2011">03</a></li><li><a href="list?date=04-01-2011">04</a></li><li><a href="list?date=05-01-2011">05</a></li><li><a href="list?date=06-01-2011">06</a></li><li><a href="list?date=07-01-2011">07</a></li><li><a href="list?date=08-01-2011">08</a></li><li><a href="list?date=09-01-2011">09</a></li>
    </ul>
</li>
                        
                        
                        
                        
                    </ul>
                </li>
                <!--li>
                    <h2>Umland</h2>
                    <ul>
                        <li><a href="/list?group[districts]=Potsdam">Potsdam</a></li>
                        <li><a href="/list?group[districts]=Brandenburg">Brandenburg</a></li>
                        <li><a href="/list?category[districts]=Dahme-Spreewald">Dahme-Spreewald</a></li>
                        <li><a href="/list?category[districts]=Havelland">Havelland</a></li>
                        <li><a href="/list?category[districts]=Potsdam-Mittelmark">Potsdam-Mittelmark</a></li>
                        <li><a href="/list?category[districts]=Oberhavel">Oberhavel</a></li>
                    </ul>
                </li-->
                <li>
                    <h2>Shopping</h2>
                    <ul>
                        <li><a href="/list?type=shopping&amp;category[categories]=Hobby+%26+Freizeit">Hobby &amp; Freizeit</a></li>
                        <li><a href="/list?type=shopping&amp;category[categories]=Kaufhäuser+und+Malls">Kaufhäuser und Malls</a></li>
                        <li><a href="/list?type=shopping&amp;category[categories]=Lebens-+und+Genussmittel">Lebens- und Genussmittel</a></li>
                        <li><a href="/list?type=shopping&amp;category[categories]=Literatur">Literatur</a></li>
                        <li><a href="/list?type=shopping&amp;category[categories]=Mode">Mode</a></li>
                        <li><a href="/list?type=shopping&amp;category[categories]=Märkte">Märkte</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="teaserlist section">
            <h2>Zitty Live! - Veranstaltungen von &amp; mit ZITTY</h2>
            <ul>
                <li>
    <a href="/harald-martenstein.html"><img src="http://static.zitty.de/fm/16/thumbnails/image_center.jpg.108691.jpg" alt="Harald Martenstein"/></a>
    <h3>Harald Martenstein:</h3>
    <p>zitty lädt wieder zur Leserlounge in die Berghain-Kantine. Diesmal liest Harald... <a href="/harald-martenstein.html" title="weiter">[&nbsp;&raquo;&nbsp;]</a></p>
</li>
                
                
            </ul>
		</div>
    
	            </div>
	            <ul id="footer">
    <li><a href="http://blog.zitty.de">Blogs</a></li>
    <li><a href="http://service.zitty.de/abo/">Abo</a></li>
    <li><a href="http://kleinanzeigen.zitty.de">Kleinanzeigen</a></li>
    <li><a href="http://shop.zitty.de">Shop</a></li>
    <li><a href="http://www.berlin-ticket.de">Tickets</a></li>
    <li><a href="http://www.zitty.de/page/mediadaten.html">Mediadaten</a></li>
    <li><a href="http://www.zitty.de/page/impressum.html">Kontakt</a></li>
    <li><a href="http://www.zitty.de/page/datenschutz.html">Datenschutzerklärung</a></li>
    <li><a href="http://www.zitty.de/page/impressum.html">Impressum</a></li>
    <li><a href="http://zitty.me">Merkliste</a></li>
</ul>
	        </div>
		</div>
        <script src="/app/base/static/zitty/base.js?1620" type="text/javascript"></script>
		<script type="text/javascript">
        // <![CDATA[
        if (device.mobile)
             document.write('<scr' + 'ipt type="text/javascript" src="/app/base/static/zitty/mobile.js?1620"><\/scr' + 'ipt>');
        // ]]>
        </script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="http://imagesrv.adition.com/js/adition.sjs?nuggn=1576777680&amp;nuggsid=1533520310&amp;nuggsub=umm" type="text/javascript"></script>
        <ul id="dinsContainer">
			<li class="superdins">
				<script type="text/javascript">
                // <![CDATA[
                if (device.mobile===false && device.height>600 && device.width>1100)
                    document.write('<scr'+'ipt type="text/javascript" src="http://adfarm1.adition.com/js?wp_id=4267&amp;kw=&amp;prf[ressort]="><\/scr' + 'ipt>');
                // ]]>
                </script>
			</li>
			<li class="skydins">
				<script type="text/javascript">
                // <![CDATA[
                if (device.mobile===false && device.height>600 && device.width>1100)
                    document.write('<sc' + 'ript type="text/javascript" src="http://adfarm1.adition.com/js?wp_id=4273&amp;kw=&amp;prf[ressort]="><\/scr'+'ipt>');
               // ]]>
                </script>
			</li>
            <li class="layerdings">
                <script type="text/javascript">
                // <![CDATA[
                if (device.mobile===false)
                    document.write('<sc' + 'ript type="text/javascript" src="http://adfarm1.adition.com/js?wp_id=4279&amp;kw=&amp;prf[ressort]="><\/scr' + 'ipt>');
               // ]]>
                </script>
            </li>
            <li class="dins4">
                <script type="text/javascript">
                // <![CDATA[
                document.write('<sc' + 'ript type="text/javascript" src="http://adfarm1.adition.com/js?wp_id=4261&amp;kw=&amp;prf[ressort]="><\/scr' + 'ipt>');
               // ]]>
                </script>
            </li>
            
            
		</ul>

        <script type="text/javascript">
        // <![CDATA[
            var szmvars="zitty//CP//home";
        // ]]>
        </script>
        <script src="http://zitty.ivwbox.de/2004/01/survey.js" type="text/javascript"></script>
    </body>
    </html>
