.selOptionLeft{
    float:left;
}
.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}
.selOptionRight{
    float:right;
}
.menuBar div *{
    border:0px;
}
.menuBar{
    background-image: url(menuCss/menuBack.jpg);
    background-repeat:repeat;
    height:34px;
}
.menuBar *{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000000;
    background:none;
}
.menuOption
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#000000;
    background:none;
}