
 






 



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eu">
 <head>
 <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<title>GARA - Euskal Herriko egunkaria</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 
 <link rel="stylesheet" type="text/css" media="screen" href="/estiloak/screen.css" />
 <!--[if IE]><link rel="stylesheet" type="text/css" href="/estiloak/ie.css" /><![endif]-->
<!--[if lt IE 6]><link rel="stylesheet" type="text/css" media="screen" href="/estiloak/ie5.css" /><![endif]-->
<link rel="stylesheet" href="/estiloak/inprimatu.css" type="text/css" media="print" />

 </head>
 <body>
 <div id="main" class="hide-left">





<div id="header">
<div id="goikoa">


<!-- kontaktua, rss eta hizkuntzak -->
<div id="hnav1">
<ul><li><a href="http://naiz.info/eu/contacto">Harremana</a><span class="divider"> : </span></li>
<li><a href="/rss/">RSS</a><span class="divider"> : </span></li>

</ul>
<span class="hizkuntza">Hautatu hizkuntza:</span>
<ul>
<li><a href="?Hizk=eu" hreflang="eu" title="Euskera bertsioa"><span lang="eu">eu</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=es" hreflang="es" title="Versión en español"><span lang="es">es</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=fr" hreflang="fr" title="Version Francaise"><span lang="fr">fr</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=en" hreflang="en" title="English Version"><span lang="en">en</span></a><span class="divider"> : </span></li>
</ul>
</div>

</div>

<div id="logoa"><h1 class="title"><a href="/index.php"><img src="/ird/logoa.gif" alt="Gara" class="markurikgabe" /></a></h1></div>
<div id="menunagusia">
<ul id="navigation">
<li><a href="http://www.naiz.info" title="NAIZera joan: alt + 1" accesskey="1"><span>naiz:</span></a></li>
<li><a href="index.php" title="Paperezkoa: alt + 2" accesskey="2" class="oraingoa"><span>Paperezko edizioa</span></a></li>
<li><a href="/gaiak/elkarrizketak/index.php" title="Gaiak: alt + 3" accesskey="3"><span>Gaiak</span></a></li>
<li><a href="http://denda.gara.net" title="Gaiak: alt + 4" accesskey="3"><span>Denda</span></a></li>
</ul> 
</div>
<!-- sekzioak -->
<div class="hnav2">
<ul><li><a href="/paperezkoa/20130425/egunekogaiak">Eguneko gaiak</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/euskalherria">Euskal Herria</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/iritzia">Iritzia</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/kirolak">Kirolak</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/mundua">Mundua</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/kultura">Kultura</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20130425/ekonomia">Ekonomia</a><span class="divider"> : </span></li>
</ul>
<hr class="hide" />
</div>

<!-- bilatzailea -->
<form name="bilatzailea" id="bilatzailea" method="post" action="/bilaketak/">
<div id="edizioak" class="txikia">
<div id="data"><span class="beltza">2013ko apirilaren 25a</span></div>
<div id="bilatu">
<input name="hitzak" id="hitzak" type="text" value="" tabindex="3" /> <select name="aa"><option selected="selected">Hemeroteka</option></select><input name="bilatu-botoia" id="bilatu-botoia" type="submit" value="BILATU" />
  </div>
</div>
</form>

 </div>

<div id="columns">
<div class="cols-wrapper">
<div class="float-wrapper">

<!-- ezker zutabe nagusia -->
<div id="col-a">
<div class="main-content">




<!-- publizitatea -->
<div class="edukina">
<div id="logoa-naiz">
<a href="http://www.naiz.info"><img src="naiz/naiz.gif" class="markurikgabe"></a></div>
<div id="menu-bar">
	<div id="nav-menu">
  <ul>
    
    <li class="active"><a href="http://www.naiz.info/eu" id="info-eu">Info</a></li>
    
    <li><a href="http://www.naiz.info/eu/iritzia" id="opinion-eu">opinion</a></li>
    
    <li><a href="http://www.naiz.info/eu/naizplus" id="naiz-eu">Naiz+</a></li>
    
    <li><a href="http://www.naiz.info/eu/agenda" id="agenda-eu">Agenda</a></li>
        
  </ul>
	</div>
</div>
</div>
 




<div id="naiz-apertura-titularra"><h2> 
        <a href="http://www.naiz.info/eu/actualidad/noticia/20130425/el-consejo-de-gobierno-de-lakua-decide-retirar-el-proyecto-de-presupuestos">Lakua retira sus presupuestos y prorrogará los actuales</a>
      </h2></div>

<div id="naiz-titularrak">
<h2><a href=http://www.naiz.info/eu/actualidad/noticia/20130425/el-gobierno-foral-afirma-que-todas-las-muestras-de-las-cocinas-hospitalarias-son-aptas-para-el-consumo
      >La sanidad navarra descarta presencia restos fecales en comidas hospitalarias
      </a></h2><h2><a href=http://www.naiz.info/eu/actualidad/noticia/20130425/violeta-se-fue-a-los-cielos-clausura-este-viernes-el-festival-de-derechos-humanos-de-donostia
      >?Violeta se fue a los cielos? clausura este viernes el festival de Derechos Humanos de Donostia
      </a></h2><h2><a href=http://www.naiz.info/eu/actualidad/noticia/20130425/la-minurso-seguira-en-el-sahara-sin-competencias-en-materia-de-derechos-humanos
      >La Minurso seguirá en el Sahara sin competencias en materia de derechos humanos
      </a></h2></div>



<!-- paperezkoaren kabezera --> 
<div><img src="/ird/paperezkoa.gif" alt="Paperezkoa" width="330" height="28" class="markurikgabe fezker" />
<div class="hnav5">
<ul><li><a href="/paperezkoa/20130425/indize">Aurkibidea</a></li>
</ul>
</div>
</div>
<!-- edukia apertura-->

	
<div class="edukina">
 <h2 class="paperezkoa"><a href="/paperezkoa/20130425/399504/es/Inedita-retirada-presupuestos-no-lograr-Urkullu-ningun-acuerdo">Inédita retirada de presupuestos al no lograr Urkullu ningún acuerdo</a></h2>
 <p>La maniobra de &uacute;ltima hora le evita la imagen de ser el primer lehendakari al que el Parlamento de Gasteiz le devuelve&nbsp;&nbsp; su proyecto presupuestario. Las previsiones sobre el d&eacute;ficit ya las contempl&oacute;&nbsp; en su documento de la pasada semana</p>
</div>



<div id="zutabeak" class="bertikalarikez">

<div id="ezkerra-papera">

<!-- EGUNEKO GAIA	-->
<div class="edukina-zutabea goian-utsunerikez">
<img src="/ird/egunekogaia2.gif" alt="Eguneko gaia" class="markurikgabe" />
<div class="edukin-txuria">
 
	
	<img  src='/Repository/Imagenes/Pub_3/Issue_8862/thumbs/p004_f02_100x100.jpg' width='84' height='56' title='p004_f02_100x100.jpg' class= 'feskubi' alt='p004_f02_100x100.jpg' />
 

 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399506/eu/Citan-testigos-Iribas-Catalan-Adanero-Jimenez-caso-CAN"> Citan como testigos a Iribas, Catalán, Adanero y Jiménez por el «caso CAN»</a></h2>
 <p>Las contradicciones en los testimonios de los imputados Miguel Sanz, &Aacute;lvaro Miranda y Enrique Maya han obligado a la juez a continuar sus pesquisas sobre el posible delito de cohecho en Caja Navarra. Ayer cit&oacute; como testigos, entre otros, a Roberto Jim&eacute;nez (l&iacute;der del PSN), Carlos Garc&iacute;a Adanero (portavoz de UPN), Jos&eacute; Iribas (consejero de Educaci&oacute;n) y Alberto Catal&aacute;n (presidente del Parlamento). Todos eran miembros de la JEF, donde se cobraba triple dieta.</p>


 </div>
</div>

 
	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399580/es/Gipuzkoa-donara-600000-euros-para-renovacion-una-ikastola-Kanbo"> Gipuzkoa donará 600.000 euros para la renovación de una ikastola en Kanbo</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399565/es/Los-presos-Guantanamo-estan-siendo-alimentados-fuerza"> Los presos en Guantánamo están siendo alimentados a la fuerza</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399485/eu/Mario-Fernandez-afirma-que-dacion-pago-general-seria-espeluznante"> Mario Fernández afirma que la dación en pago general sería «espeluznante»</a></h2>
</div><hr />



</div>

<!-- eskubia papera -->
<div id="eskubia-papera">
<div class="edukina-zutabea goian-utsunerikez">
<div class="edukina">
 <a href="/paperezkoa/20130425/pri01.pdf"><img src="/paperezkoa/20130425/porta189.jpg" alt="Gara egunkaria" width="189" height="275" border="0" /></a>
</div>
<div class="zentratua">
<a href="/paperezkoa/20130425/pri01.pdf" class="papera">Portada PDF formatuan</a>
</div>
</div>

</div>

<!-- iritzia -->








<!-- iritzia -->
 <div class="edukina-zutabea goian-utsunerikez">
<img src="/ird/iritzia.gif" alt="Eguneko gaia" class="markurikgabe" />
<div id="ezkerra-iritzia">

<div class="edukina">

<p class="izena">Editoriala</p>
	<h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399508/es/El-lehendakari-no-quiere-retratarse-solo">
 El lehendakari no quiere retratarse solo
</a></h2>

</div>
<hr />
<div class="edukina">
 
 <p class="izena">Aitxus Iñarra Profesora de la UPV-EHU</p>
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399479/es/El-espacio">
 El espacio
</a></h2>

</div>
<hr />

<div class="edukina">
 
<p class="izena"> Patxi Meabe, Pako Etxebeste, Arturo Garcia eta Ramon Balenziaga Etikarte</p>
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399481/eu/Oinarri-etiko-erkide-baten-bila">
 Oinarri etiko erkide baten bila
</a></h2>
 
<p class="izena"> Iñaki Lizundia Alvarez eta Itziar Sanchez Gaubeka Preso politikoa eta Haritzkandako Memoria Historiko taldekoa</p>
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399482/eu/Agur-eta-ohore-Perezaguako-gudari-gazteak">
 Agur eta ohore, Perezaguako gudari gazteak
</a></h2>

</div>
<hr />
</div>


<div id="eskubia-iritzia">
<div class="edukina">
<a href="javascript:window.open('/paperezkoa/20130425/tasio.htm','reverso','scrollbars=yes,width=600,height=200');void(0);" class="loturagrixa">
<img src="/paperezkoa/20130425/tasio166.jpg" alt="Pilota" width="166" /></a><br />
<a href="javascript:window.open('/paperezkoa/20130425/tasio.htm','reverso','scrollbars=yes,width=600,height=200');void(0);" class="loturagrixa">Tasio</a></div>
<hr />

<div class="edukina">
  
<p class="izena"> Mikel Zubimendi Kazetaria</p>
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20130425/399512/eu/Isilik-egon-eta-isiltasuna-probokatu">
 Isilik egon eta isiltasuna probokatu
</a></h2>

</div>
<hr /></div>
</div> 


</div>
</div>
</div>
</div>



<!-- eskubiko zutabea -->
<div id="col-c" class="sidecol">


 <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <!-- taula hemeroteka -->
<img src="/ird/hemeroteka.gif" alt="Hemeroteka" width="75" height="15" border="0" class="markurikgabe" />
<table class="taulabordea1" id="taulaHemeroteka">
<tr>
<td colspan="7">
<table align="center">
<tr>
<td colspan="2" width="75" align="left"><a href="/paperezkoa/20130325">&lt; Aur</a></td>
<td colspan="3" width="150" align="center">Apr 2013</td>
<td colspan="2" width="75" align="right"></td>
</tr>
</table>
</td>
<tr>
<td>Al</td><td>Ar</td><td>Az</td><td>Os</td><td>Or</td><td>La</td><td>Ig</td>
</tr>
<tr>
<td class='papera'><strong><a href='/paperezkoa/20130401'>1</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130402'>2</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130403'>3</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130404'>4</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130405'>5</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130406'>6</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130407'>7</a></strong></td>
</tr>
<tr>
<td class='papera'><strong><a href='/paperezkoa/20130408'>8</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130409'>9</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130410'>10</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130411'>11</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130412'>12</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130413'>13</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130414'>14</a></strong></td>
</tr>
<tr>
<td class='papera'><strong><a href='/paperezkoa/20130415'>15</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130416'>16</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130417'>17</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130418'>18</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130419'>19</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130420'>20</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130421'>21</a></strong></td>
</tr>
<tr>
<td class='papera'><strong><a href='/paperezkoa/20130422'>22</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130423'>23</a></strong></td>
<td class='papera'><strong><a href='/paperezkoa/20130424'>24</a></strong></td>
<td class="loturaEguna"><strong> 25</strong></td>
<td class='grixa3'>26</td>
<td class='grixa3'>27</td>
<td class='grixa3'>28</td>
</tr>
<tr>
<td class='grixa3'>29</td>
<td class='grixa3'>30</td>
<td class='egutegi-ondorengoak'><strong>1</strong></td>
<td class='egutegi-ondorengoak'><strong>2</strong></td>
<td class='egutegi-ondorengoak'><strong>3</strong></td>
<td class='egutegi-ondorengoak'><strong>4</strong></td>
<td class='egutegi-ondorengoak'><strong>5</strong></td>
</tr>
</table>

<!-- / taula hemeroteka -->
 </div>
</div>
 <div class="edukina-zutabea utsunea">
  <a href="/gaiak/elkarrizketak/index.php"><img src="/ird/gaiak/baner-elkarrizketak.jpg" class="markurikgabe" /></a>
</div>
<div class="edukina-zutabea utsunea">
<!--/* OpenX iFrame Tag v2.8.7 */-->

<!--/*
  * This tag has been generated for use on a non-SSL page. If this tag
  * is to be placed on an SSL page, change the
  *   'http://p.gara.net/www/delivery/...'
  * to
  *   'https://p.gara.net/www/delivery/...'
  *
  * The backup image section of this tag has been generated for use on a
  * non-SSL page. If this tag is to be placed on an SSL page, change the
  *   'http://p.gara.net/www/delivery/...'
  * to
  *   'https://p.gara.net/www/delivery/...'
  *
  * If iFrames are not supported by the viewer's browser, then this
  * tag only shows image banners. There is no width or height in these
  * banners, so if you want these tags to allocate space for the ad
  * before it shows, you will need to add this information to the <img>
  * tag.
  */-->
<a href="http://posibleegitendugu.naiz.info/index_gara.html" target="_blank"><img style="margin-left:-1px" src="http://gara.naiz.info/banerrak/gara_inkesta_goran.gif" /></a>
<iframe id='ace21f9c' name='ace21f9c' src='http://p.gara.net/www/delivery/afr.php?zoneid=15&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='220' height='440'><a href='http://p.gara.net/www/delivery/ck.php?n=a9dd5715&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=15&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a9dd5715' border='0' alt='' /></a></iframe>
<a href="http://posibleegitendugu.naiz.info/index_gara_cas.html" target="_blank"><img style="margin-left:-1px" src="http://gara.naiz.info/banerrak/gara_encuesta_beran.gif" /></a>

</div>
<div class="edukina-zutabea utsunea">
<!--/* OpenX Javascript Tag v2.8.7 */-->

<!--/*
  * The backup image section of this tag has been generated for use on a
  * non-SSL page. If this tag is to be placed on an SSL page, change the
  *   'http://p.gara.net/www/delivery/...'
  * to
  *   'https://p.gara.net/www/delivery/...'
  *
  * This noscript section of this tag only shows image banners. There
  * is no width or height in these banners, so if you want these tags to
  * allocate space for the ad before it shows, you will need to add this
  * information to the <img> tag.
  *
  * If you do not want to deal with the intricities of the noscript
  * section, delete the tag (from <noscript>... to </noscript>). On
  * average, the noscript tag is called from less than 1% of internet
  * users.
  */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=14");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a054c61e&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=14&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a054c61e' border='0' alt='' /></a></noscript>


</div>

<div class="edukina-zutabea utsunea">
<!--/* OpenX Javascript Tag v2.8.7 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=13");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a3f0f492&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=13&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a3f0f492' border='0' alt='' /></a></noscript>



</div>


 <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="/eguraldia"><img src="/eguraldia/c.png" alt="Euskal-Herria" width="84" height="60" border="0" class="feskubi markurikgabe" /></a>
 <a href="/eguraldia"><img src="http://ird.gara.net/eguraldia.gif" alt="Eguraldia" width="61" height="15" border="0" class="markurikgabe" /></a>
 <p>Euskal Herrian</p>
 <p class="urdina"><a href="/eguraldia" class="urdina">Gaur - bihar</a></p>
 </div></div>
  <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="http://www.info7.com"><img src="http://ird.gara.net/infozazpi.gif" alt="Info7 irratia" width="90" height="24" border="0" class="fezker markurikgabe" /></a>Irratia zuzenean<br /> 
 <a href="http://91.197.164.8:9062/listen.pls"><img src="http://ird.gara.net/iko_jeitsi.gif" width="13" height="9" class="markurikgabe" /></a> <a href="http://91.197.164.8:9062/listen.pls" class="urdina">Jaitsi lotura</a> </div>
</div>
</div>
</div>
</div>

<!-- oina -->

<!-- oina azken div-ak orria ixten du --> 
<div id="footer" class="clear">
<div id="oinarr">

<div class="hnav3"><ul><li><a href="/index.php">Hasiera</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa">Paperezko edizioa</a><span class="divider"> : </span></li>
<li><a href="/gaiak">Gaiak</a><span class="divider"> : </span></li>
<li><a href="/kontaktua/denda">Denda</a><span class="divider"> : </span></li>
</ul></div>
<a href="http://www.euskalherria.com"><img src="http://ird.gara.net/euskalherria.gif" width="159" height="20" alt="euskalherria.com" border="0" class="feskubi markurikgabe" /></a>

</div>
<div class="hnav4"><ul>
 <li>© Baigorri Argitaletxea<span class="divider"> : </span></li>
 <li><a href="http://naiz.info/eu/contacto">Harremana</a><span class="divider"> : </span></li>
 <li><a href="/norgara/">Nor gara</a><span class="divider"> : </span></li>
 <li><a href="http://naiz.info/eu/publizitatea">Iragarkiak</a><span class="divider"> : </span></li>
 <li>&nbsp;<img src="http://ird.gara.net/rss.gif" width="17" height="14" style="vertical-align: middle;" class="markurikgabe" alt="" /><a href="/rss/">RSS</a><span class="divider"> : </span></li>
</ul></div>

<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32134761-1']);
		_gaq.push(['_setDomainName', 'naiz.info']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
</script>

 </div>
  
</div>
<script type="text/javascript">
var _sf_async_config={uid:34438,domain:"naiz.info"};
(function(){
function loadChartbeat() {
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src',
(("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
"js/chartbeat.js");
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ?
loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
</body>
</html> 