  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="eu" xml:lang="eu">
 <head>
<title>GARA - Euskal Herriko egunkaria</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <link rel="stylesheet" type="text/css" media="screen" href="http://css.gara.net/denak2.css" />
 <!--[if IE]><link rel="stylesheet" type="text/css" href="estiloak/ie.css" /><![endif]-->
<!--[if lt IE 6]><link rel="stylesheet" type="text/css" media="screen" href="estiloak/ie5.css" /><![endif]-->
<link rel="stylesheet" href="http://css.gara.net/inprimatu.css" type="text/css" media="print" />
<link href="http://www.gara.net/rss/azkenak/" rel="alternate" type="application/rss+xml" title="Harpidetu rss-ra"/>
 <script type="text/javascript" src="bideoak/player/swfobject.js"></script>
 </head>
 <body>
 <div id="main" class="hide-left">



<div class="edukina zentratua">
<div class="edukina zentratua">
<!--/* OpenX Javascript Tag v2.8.7 */-->
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=12");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a80a957a&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=12&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a80a957a' border='0' alt='' /></a></noscript>
</div></div>

<!-- kontaktua, rss eta hizkuntzak -->
<div id="header">

<div id="goikoa">

<div id="hnav1">
<ul><li><a href="/kontaktua/">Harremana</a><span class="divider"> : </span></li>
<li><a href="/rss/">RSS</a><span class="divider"> : </span></li>

</ul>
<span class="hizkuntza">Hautatu hizkuntza:</span>
<ul>
<li><a href="?Hizk=eu" hreflang="eu" title="Euskera bertsioa"><span lang="eu">eu</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=es" hreflang="es" title="Versión en español"><span lang="es">es</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=fr" hreflang="fr" title="Version Francaise"><span lang="fr">fr</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=en" hreflang="en" title="English Version"><span lang="en">en</span></a><span class="divider"> : </span></li>
</ul>
</div>

</div>

<!-- logoa -->
<div class="logoa-eta-inpresoa">
<div id="inpresoa"><a href="/paperezkoa"><img src="http://ird.gara.net/inpresoa.gif" width="148" height="54" alt="Gara" class="markurikgabe" /></a></div>
<div id="logoa"><h1 class="title"><a href="/index.php"><img src="http://ird.gara.net/logoa.gif" width="157" height="37" alt="Gara" class="markurikgabe" /></a></h1></div>
</div>

<div id="menunagusia">
<ul id="navigation">
<li><a href="/index.php" title="Portadara joan: alt + 1" accesskey="1" class="oraingoa"><span>Hasiera</span></a></li>
<li><a href="/paperezkoa/" title="Paperezkoa: alt + 2" accesskey="2"><span>Paperezko edizioa</span></a></li>
<li><a href="/gaiak" title="Gaiak: alt + 3" accesskey="3"><span>Gaiak</span></a></li>
<li><a href="http://denda.gara.net" title="Gaiak: alt + 4" accesskey="4"><span>Denda</span></a></li>
</ul> 
</div>

<!-- sekzioak -->
<div class="hnav2">
<ul><li><a href="/azkenak/11/euskalherria">Euskal Herria</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/ekonomia">Ekonomia</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/kultura">Kultura</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/kirolak">Kirolak</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/mundua">Mundua</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/azkenak">Azken ordua</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20101122/farmaziak">Farmaziak</a><span class="divider"> : </span></li>
</ul>
<hr class="hide" />
</div>

<!-- bilatzailea --> 
<form name="bilatzailea" id="bilatzailea" method="post" action="/bilaketak/">
<div id="edizioak" class="txikia">
<div id="data"><span class="beltza">2010ko azaroaren 22a</span> </div>
<div id="bilatu">
<input name="hitzak" id="hitzak" type="text" value="" tabindex="3" /> <select name="aa"><option selected="selected">Hemeroteka</option></select><input name="bilatu-botoia" id="bilatu-botoia" type="submit" value="BILATU" />
  </div>
</div>
</form>

 </div> 
 
 
 <!-- hauteskundeak kabezera --> 



 <!-- kabezera hauteskundeak -->
 

 <!-- /kabezera -->
 
 

<!-- hautes -->

<!-- / hautes -->

<div id="columns">
<div class="cols-wrapper">
<div class="float-wrapper">

<!-- ezker zutabe nagusia -->
<div id="col-a">
<div class="main-content">















<!-- paperezko edizio kaxa -->
<div id="impresa"><img src="/ird/paperezkoa.gif" alt="Edición impresa" width="204" height="28" class="markurikgabe" /></div>
<div id="gara"><img src="/ird/gara.gif" alt="Gara" width="112" height="27" class="markurikgabe fezker" />
<div id="hemeroteka"><a href="/paperezkoa/" class="beltza">Azalera joan</a></div>
</div>
<div class="edukina-zutabea goian-utsunerikez">
<!-- paperezko edizio sekzioak -->
<div class="hnav2">
<ul>
 <li><a href="/paperezkoa/20101122/egunekogaiak">Eguneko gaiak</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/euskalherria">Euskal Herria</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/iritzia">Iritzia</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/kirolak">Kirolak</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/mundua">Mundua</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/kultura">Kultura</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101122/ekonomia">Ekonomia</a><span class="divider"> : </span></li>
</ul>
</div>
<div class="edukin-txuria">
<div class="edukina">
<!-- edukia apertura-->

	
<span class="zintiloa">EL ACUERDO DE GERNIKA EN NAFARROA</span>
 <h2 class="paperezkoa"><a href="/paperezkoa/20101122/233563/es/El-Acuerdo-Gernika-inicia-contactos-todos-agentes"> El Acuerdo de Gernika inicia contactos con todos los agentes</a></h2>
<p>En el marco de las presentaciones del Acuerdo de Gernika que se est&aacute;n llevando a cabo en distintos puntos del pa&iacute;s, ayer, en Iru&ntilde;ea, cientos de personas participaron en el acto celebrado en el front&oacute;n Labrit. Situado en el &aacute;mbito del herrialde, los firmantes del acuerdo informaron de que hoy mismo iniciar&aacute;n un trabajo de interlocuci&oacute;n con el resto de agentes pol&iacute;ticos, sindicales, sociales y el tejido asociativo navarro, as&iacute; como con la Patronal y la Iglesia.</p>



</div>

<div class="edukina">
<a href="/paperezkoa">
<img src="/paperezkoa/20101122/porta135.jpg" alt="Portada PDFan" width="135" height="196" border="0" class="feskubi" /></a>
 
	
<h2 class="paperezkoa"><a href="/paperezkoa/20101122/233514/es/Reclaman-recuperacion-Burzako-minero"> Reclaman la recuperación del Burzako minero</a></h2>
<p>Varias generaciones nacieron en aquellas caballerizas convertidas en viviendas, crecieron junto al duro trabajo de los mineros y el de sus mujeres. Los &uacute;ltimos testigos del Burzako minero piden a la Diputaci&oacute;n que no deje desaparecer las casas y, con ellas, la memoria.</p>


</div>


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101122/233588/eu/Emakume-batek-jasandako-bortxaketa-salatu-eta-justizia-egin-dadin-eskatu-dute"> Emakume batek jasandako bortxaketa salatu eta justizia egin dadin eskatu dute</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101122/233590/es/La-Union-Europea-acuerda-rescate-Irlanda"> La Unión Europea acuerda el rescate de Irlanda</a></h2>
</div><hr />




</div>
</div>





<!-- dosierrak -->
<div class="edukina-zutabea altuera56 margin10"><div class="dosierra"><div class="edukin-grisa txikia"><a href="/gaiak/atxiloketak/"><img src="/ird/atxiloketak.jpg" alt="Atxilotua" width="152" height="40" border="0" class="fezker markurikgabe" />DOSIERRA >></a></div>
 <a href="/gaiak/atxiloketak/" class="urdina txikia">Atxiloketak EHan</a></div>
<div class="dosierra"><div class="edukin-grisa txikia"><a href="/gaiak/lanistripuak/"><img src="http://ird.gara.net/b_istripu.gif" alt="lan istripuak" width="152" height="40" border="0" class="fezker markurikgabe" />DOSIERRA >></a></div>
 <a href="/gaiak/lanistripuak/" class="urdina txikia">Lan istripuak</a> </div>
</div>











<!-- alerta -->




<!-- publizitatea -->
<!--/* OpenX Javascript Tag v2.8.7 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=11");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a092e28d&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=11&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a092e28d' border='0' alt='' /></a></noscript>

<!-- super  apertura -->


<!-- Apertura handia -->




<div id="zutabeak">
<div id="ezkerra">

<!-- Apertura -->

	
<div class="edukina">

<div class='edukina-argazkia-portada'><img  src='Repository/Imagenes/Pub_2/Issue_5251/thumbs/t_AzkenEzkger.jpg' width='270' height='193' title='AzkenEzkger.jpg' alt='AzkenEzkger.jpg' /></div>	







<p class="urrea">MOVIMIENTOS POLÍTICOS EN EUSKAL HERRIA</p>
<h2 class="ertaina"><a href="azkenak/11/233505/es/Los-firmantes-Acuerdo-Gernika-inician-trabajo-interlocucion-otros-agentes">Los firmantes del Acuerdo de Gernika inician un trabajo de interlocución con otros agentes</a></h2>
<p class="ordua">Eguneraketa:  4 ordu eta  5 min.</p>
<p>Los firmantes del Acuerdo de Gernika iniciar&aacute;n ma&ntilde;ana un trabajo de interlocuci&oacute;n con otros agentes pol&iacute;ticos, sindicales, econ&oacute;micos y sociales y han llamado a socializar el documento en el acto desarrollado en Iru&ntilde;ea.</p>
</div>



<!-- Apertura Bideoa -->

<hr />

<!-- ezker zutabea -->

	
<div class="edukina">

<p class="urrea">CRISIS EN IRLANDA</p>
<h2 class="txikiena"><a href="azkenak/11/233561/es/El-Ecofin-acuerda-activar-ayuda-para-Irlanda-que-sera-inferior-100000-millones-euros">El Ecofin acuerda activar la ayuda para Irlanda, que será "inferior a los 100.000 millones de euros"</a></h2>
<p class="ordua">Eguneraketa:  3 ordu eta 33 min.</p>
<p>Los ministros de Econom&iacute;a de la UE han acordado responder positivamente a la solicitud de asistencia presentada por Irlanda y activar el rescate. El presidente del Ecofin, Didier Reynders, ha indicado que la ayuda ser&aacute; de un monto &quot;inferior a los 100.000 millones de euros&quot;.</p>
<ul class="iconlist">
    <li class="ikonoa"><a href="/azkenak/11/233506/es/El-ministro-irlandes-anuncia-que-pediran-rescate">El ministro irland&eacute;s de Finanzas anuncia que pedir&aacute;n el rescate</a></li>
</ul>
</div>
<hr />


	
<div class="edukina">

<p class="urrea">NUEVA ZELANDA</p>
<h2 class="txikiena"><a href="azkenak/11/233503/es/Sigue-paralizado-rescate-mineros-atrapados-Nueva-Zelanda">Sigue paralizado el rescate de los mineros atrapados en Nueva Zelanda</a></h2>
<p class="ordua">Eguneraketa:  7 ordu eta  0 min.</p>
<p>El rescate de los 29 mineros atrapados en el interior de una mina de carb&oacute;n en Nueva Zelanda contin&uacute;a paralizado por un incendio subterr&aacute;neo, despu&eacute;s de que los an&aacute;lisis del gas confirmaran que no es seguro entrar a la mina.</p>
</div>
<hr />




</div><!-- ezker zutabe bukaera -->

<!-- eskubiko zutabea -->
<div id="eskubia">





<div class="edukina">

 <p class="urrea">FUTBOL</p>
<h2 class="txikiena"><a href="azkenak/11/233536/es/Osasuna-gana-gol-Sporting">Osasuna gana por un gol al Sporting</a></h2>
 <p class="ordua">Orain dela:  4 ordu 30 minutu</p>
<p>Osasuna ha encadenado su tercera victoria consecutiva en el Reyno de Navarra al derrotar por 1-0 al Sporting.</p>
</div>
<hr />



<div class="edukina">

 <p class="urrea">VIOLENCIA DE GÉNERO</p>
<h2 class="txikiena"><a href="azkenak/11/233502/es/Dos-arrestados-acusados-violencia-genero">Dos arrestados acusados de violencia de género</a></h2>
 <p class="ordua">Eguneraketa: 10 ordu eta 30 min.</p>
<p>Dos hombres han sido detenidos en Ondarroa y Trapagaran acusados de violencia de g&eacute;nero.</p>
</div>
<hr />



<div class="edukina">

 <p class="urrea">CUMBRE DE LA OTAN</p>
<h2 class="txikiena"><a href="azkenak/11/233501/es/En-libertad-42-activistas-detenidos">En libertad, los 42 activistas detenidos</a></h2>
 <p class="ordua">Orain dela: 11 ordu 30 minutu</p>
<p>Los 42 manifestantes anti OTAN detenidos en Portugal durante la cumbre de la Alianza han quedado en libertad.</p>
</div>
<hr />



<div class="edukina">

<div class='edukina-argazkia-portada'><img  src='Repository/Imagenes/Pub_2/Issue_5251/thumbs/t_AzkenEzkher.jpg' width='99%' height='' alt='' /></div>
 <p class="urrea">HERRI KROSA</p>
<h2 class="txikiena"><a href="azkenak/11/233504/es/Mas-siete-mil-atletas-participan-Herri-Krosa-Bilbo">Más de siete mil atletas participan en la Herri Krosa de Bilbo</a></h2>
 <p class="ordua">Eguneraketa:  7 ordu eta  6 min.</p>
<p>7.670 atletas ha tomado parte en la vigesimotercera edici&oacute;n del Herri Krosa de Bilbo.</p>
</div>
<hr />






</div></div>

<div class="edukina">
<ul class="iconlist"><li class="ikonoa"><a href="/azkenak/11/azkenak" class="beltza">Albiste guztiak</a></li></ul>
<hr /></div>
</div>
</div>
</div>

<!-- eskubiko zutabea -->
<div id="col-c" class="sidecol">













	
	
		




<!-- argazkien kaxa -->
<div class="edukina-zutabea utsunea goian-utsunerikez"><img src="/ird/bideoa.gif" alt="Argazkiak" width="116" height="25" border="0" class="markurikgabe" />




 <a href="/bideoak/101119_irizar/index.php">
 <img  src='Repository/Imagenes/Pub_11/Issue_5242/thumbs/t_101119_irizar.jpg' /> <div style="position: relative; top: -35px; left: 17px;"><img  src='../img/play_laukia.png' /></div></a> 
 
   
 <div style="position: relative; top: -15px; left: 0px;">
 <p> <a class="urdina" href="/bideoak/101119_irizar/index.php">Adelanto de la entrevista a Gurutze Irizar que se publica este domingo</a></p>
</div>
</div>

	
		



<div class="edukina-zutabea utsunea">
<!--/* OpenX Javascript Tag v2.8.7 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=8");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a1ec2ad9&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=8&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1ec2ad9' border='0' alt='' /></a></noscript>


</div>
 <div class="edukina-zutabea utsunea">
  <a href="/gaiak/elkarrizketak/index.php"><img src="/ird/gaiak/baner-elkarrizketak.jpg" class="markurikgabe" /></a>
</div>
















<!-- argazkien kaxa -->
<div class="edukina-zutabea utsunea goian-utsunerikez"><img src="http://ird.gara.net/argazkiak.gif" alt="Argazkiak" border="0" class="markurikgabe" />
 <div class="edukin-txuria txikia">

  

 <a href="/iruditan/5252/art233507.php">
 <img  src='../Repository/Imagenes/Pub_7/Issue_5252/thumbs/t_EgunHori01.jpg' width='84' height='60' title='EgunHori01.jpg' class= 'feskubi' alt='EgunHori01.jpg' />

 </a>
<a class="urdina" href="/iruditan/5252/art233507.php">
 Los firmantes del Acuerdo de Gernika inician un trabajo de interlocución</a>
 
 
 </div>
</div>




 <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="/eguraldia"><img src="/eguraldia/c.png" alt="Euskal-Herria" width="84" height="60" border="0" class="feskubi markurikgabe" /></a>
 <a href="/eguraldia"><img src="http://ird.gara.net/eguraldia.gif" alt="Eguraldia" width="61" height="15" border="0" class="markurikgabe" /></a>
 <p>Euskal Herrian</p>
 <p class="urdina"><a href="/eguraldia" class="urdina">Gaur - bihar</a></p>
 </div></div>
  <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="http://www.info7.com"><img src="http://ird.gara.net/infozazpi.gif" alt="Info7 irratia" width="90" height="24" border="0" class="fezker markurikgabe" /></a>Irratia zuzenean<br /> 
 <a href="http://91.197.164.8:9062/listen.pls"><img src="http://ird.gara.net/iko_jeitsi.gif" width="13" height="9" class="markurikgabe" /></a> <a href="http://91.197.164.8:9062/listen.pls" class="urdina">Jaitsi lotura</a> </div>
</div>



</div>
</div></div>


<!-- oina azken div-ak orria ixten du --> 
<div id="footer" class="clear">
<div id="oinarr">

<div class="hnav3"><ul><li><a href="/index.php">Hasiera</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa">Paperezko edizioa</a><span class="divider"> : </span></li>
<li><a href="/gaiak">Gaiak</a><span class="divider"> : </span></li>
<li><a href="/kontaktua/denda">Denda</a><span class="divider"> : </span></li>
</ul></div>
<a href="http://www.euskalherria.com"><img src="http://ird.gara.net/euskalherria.gif" width="159" height="20" alt="euskalherria.com" border="0" class="feskubi markurikgabe" /></a>

</div>
<div class="hnav4"><ul>
 <li>© Baigorri Argitaletxea<span class="divider"> : </span></li>
 <li><a href="/kontaktua/">Harremana</a><span class="divider"> : </span></li>
 <li><a href="/norgara/">Nor gara</a><span class="divider"> : </span></li>
 <li><a href="/kontaktua/publi">Iragarkiak</a><span class="divider"> : </span></li>
 <li>&nbsp;<img src="http://ird.gara.net/rss.gif" width="17" height="14" style="vertical-align: middle;" class="markurikgabe" alt="" /><a href="/rss/">RSS</a><span class="divider"> : </span></li>
</ul></div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2312022-6']);
  _gaq.push(['_setDomainName', 'www.gara.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

 </div>
 


</div>
</body>
</html>