  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="eu" xml:lang="eu">
 <head>
<title>GARA - Euskal Herriko egunkaria</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <link rel="stylesheet" type="text/css" media="screen" href="http://css.gara.net/denak2.css" />
 <!--[if IE]><link rel="stylesheet" type="text/css" href="estiloak/ie.css" /><![endif]-->
<!--[if lt IE 6]><link rel="stylesheet" type="text/css" media="screen" href="estiloak/ie5.css" /><![endif]-->
<link rel="stylesheet" href="http://css.gara.net/inprimatu.css" type="text/css" media="print" />
<link href="http://www.gara.net/rss/azkenak/" rel="alternate" type="application/rss+xml" title="Harpidetu rss-ra"/>
 <script type="text/javascript" src="bideoak/player/swfobject.js"></script>
 </head>
 <body>
 <div id="main" class="hide-left">




<!-- kontaktua, rss eta hizkuntzak -->
<div id="header">

<div id="goikoa">

<div id="hnav1">
<ul><li><a href="/kontaktua/">Harremana</a><span class="divider"> : </span></li>
<li><a href="/rss/">RSS</a><span class="divider"> : </span></li>

</ul>
<span class="hizkuntza">Hautatu hizkuntza:</span>
<ul>
<li><a href="?Hizk=eu" hreflang="eu" title="Euskera bertsioa"><span lang="eu">eu</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=es" hreflang="es" title="Versión en español"><span lang="es">es</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=fr" hreflang="fr" title="Version Francaise"><span lang="fr">fr</span></a><span class="divider"> : </span></li>
<li><a href="?Hizk=en" hreflang="en" title="English Version"><span lang="en">en</span></a><span class="divider"> : </span></li>
</ul>
</div>

</div>

<!-- logoa -->
<div class="logoa-eta-inpresoa">
<div id="inpresoa"><a href="/paperezkoa"><img src="http://ird.gara.net/inpresoa.gif" width="148" height="54" alt="Gara" class="markurikgabe" /></a></div>
<div id="logoa"><h1 class="title"><a href="/index.php"><img src="http://ird.gara.net/logoa.gif" width="157" height="37" alt="Gara" class="markurikgabe" /></a></h1></div>
</div>

<div id="menunagusia">
<ul id="navigation">
<li><a href="/index.php" title="Portadara joan: alt + 1" accesskey="1" class="oraingoa"><span>Hasiera</span></a></li>
<li><a href="/paperezkoa/" title="Paperezkoa: alt + 2" accesskey="2"><span>Paperezko edizioa</span></a></li>
<li><a href="/gaiak" title="Gaiak: alt + 3" accesskey="3"><span>Gaiak</span></a></li>
<li><a href="http://denda.gara.net" title="Gaiak: alt + 4" accesskey="4"><span>Denda</span></a></li>
</ul> 
</div>

<!-- sekzioak -->
<div class="hnav2">
<ul><li><a href="/azkenak/11/euskalherria">Euskal Herria</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/ekonomia">Ekonomia</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/kultura">Kultura</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/kirolak">Kirolak</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/mundua">Mundua</a><span class="divider"> : </span></li>
<li><a href="/azkenak/11/azkenak">Azken ordua</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa/20101115/farmaziak">Farmaziak</a><span class="divider"> : </span></li>
</ul>
<hr class="hide" />
</div>

<!-- bilatzailea --> 
<form name="bilatzailea" id="bilatzailea" method="post" action="/bilaketak/">
<div id="edizioak" class="txikia">
<div id="data"><span class="beltza">2010ko azaroaren 15a</span> </div>
<div id="bilatu">
<input name="hitzak" id="hitzak" type="text" value="" tabindex="3" /> <select name="aa"><option selected="selected">Hemeroteka</option></select><input name="bilatu-botoia" id="bilatu-botoia" type="submit" value="BILATU" />
  </div>
</div>
</form>

 </div> 
 
 
 <!-- hauteskundeak kabezera --> 



 <!-- kabezera hauteskundeak -->
 

 <!-- /kabezera -->
 
 

<!-- hautes -->

<!-- / hautes -->

<div id="columns">
<div class="cols-wrapper">
<div class="float-wrapper">

<!-- ezker zutabe nagusia -->
<div id="col-a">
<div class="main-content">












<!-- alerta -->




<!-- publizitatea -->
<!--/* OpenX Javascript Tag v2.8.7 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=11");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a092e28d&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=11&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a092e28d' border='0' alt='' /></a></noscript>

<!-- super  apertura -->


<!-- Apertura handia -->




<div id="zutabeak">
<div id="ezkerra">

<!-- Apertura -->

	
<div class="edukina">
	







<p class="urrea">MACROJUICIO EN PARÍS</p>
<h2 class="ertaina"><a href="azkenak/11/232304/es/Albisu-e-Iparragirre-afirman-que-ETA-tiene-mano-tendida-una-vez-mas">Albisu e Iparragirre afirman que ETA "tiene la mano tendida una vez más"</a></h2>
<p class="ordua">Eguneraketa:  2 ordu eta  0 min.</p>
<p>Mikel Albisu y Marisol Iparragirre han declarado que ETA &quot;tiene la mano tendida una vez m&aacute;s&quot; ante el tribunal que les juzga en Par&iacute;s y han se&ntilde;alado que &quot;corresponde a los gobiernos franc&eacute;s y espa&ntilde;ol actuar con responsabilidad y sentido hist&oacute;rico&quot;.</p>
</div>



<!-- Apertura Bideoa -->

<hr />

<!-- ezker zutabea -->

	
<div class="edukina">

<p class="urrea">PROPUESTA DE LA IZQUIERDA ABERTZALE</p>
<h2 class="txikiena"><a href="azkenak/11/232302/es/EA-La-clave-reside-construccion-nuevos-puentes">EA: "La clave reside en la construcción de nuevos puentes"</a></h2>
<p class="ordua">Eguneraketa:  4 ordu eta 29 min.</p>
<p>EA considera que la propuesta trasladada por la izquierda abertzale a su formaci&oacute;n y a Aralar para concurrir juntos a las elecciones al Parlamento de Nafarroa puede ser importante para &quot;aglutinar a todas las sensibilidades por el cambio&quot;. Tras indicar que mantiene su compromiso con NaBai, subraya que &quot;la clave reside en la construcci&oacute;n de nuevos puentes&quot;. Aralar responder&aacute; tras la reuni&oacute;n de su Ejecutiva.</p>
</div>
<hr />


	
<div class="edukina">

<p class="urrea">ANIVERSARIO</p>
<h2 class="txikiena"><a href="azkenak/11/232301/es/Subrayan-que-compromiso-Brouard-Muguruza-sigue-siendo-una-valiosa-referencia">Subrayan que el compromiso de Brouard y Muguruza "sigue siendo una valiosa referencia"</a></h2>
<p class="ordua">Eguneraketa:  5 ordu eta 14 min.</p>
<p>Familiares, amigos y distintos agentes pol&iacute;ticos, sindicales y sociales han subrayado la importancia de la aportaci&oacute;n de militantes como Santi Brouard y Josu Muguruza en la apuesta por abrir &quot;otra era pol&iacute;tica&quot; en Euskal Herria y han llamado a participar en los actos previstos para el pr&oacute;ximo s&aacute;bado, d&iacute;a en que se cumplen 26 y 21 a&ntilde;os de que les mataran.</p>
</div>
<hr />


	
<div class="edukina">

<p class="urrea">NUEVO INFORME</p>
<h2 class="txikiena"><a href="azkenak/11/232299/es/AI-reclama-justicia-gobiernos-europeos-para-victimas-vuelos-secretos-CIA">AI reclama justicia a los gobiernos europeos para las víctimas de los vuelos secretos de la CIA</a></h2>
<p class="ordua">Eguneraketa:  5 ordu eta 53 min.</p>
<p>Amnist&iacute;a Internacional (AI) ha reclamado a los gobiernos europeos que &quot;hagan justicia&quot; con las v&iacute;ctimas de los programas de entrega ilegal y detenci&oacute;n secreta de la Agencia Central de Inteligencia (CIA) estadounidense, &quot;que hicieron posible la desaparici&oacute;n forzada, tortura y maltrato de varias personas&quot;.</p>
</div>
<hr />


	
<div class="edukina">

<p class="urrea">SAHARA</p>
<h2 class="txikiena"><a href="azkenak/11/232293/es/Denuncian-el-genocidio-regimen-marroqui-sobre-poblacion-civil-saharaui">Denuncian "el genocidio del régimen marroquí sobre la población civil saharaui"</a></h2>
<p class="ordua">Eguneraketa:  2 ordu eta 53 min.</p>
<p>Dos activistas que permanecen escondidos &quot;desde hace d&iacute;as&quot; en El Aai&uacute;n han denunciado el &quot;genocidio que est&aacute; cometiendo el r&eacute;gimen marroqu&iacute; sobre la poblaci&oacute;n civil saharaui&quot; y han instado a Naciones Unidas y Cruz Roja Internacional a intervenir para solucionar el conflicto.</p>
<ul class="iconlist">
    <li class="ikonoa"><a href="http://www.youtube.com/watch?v=5Veov656nFE&amp;feature=player_embedded">V&iacute;deo de los activistas</a></li>
</ul>
</div>
<hr />




</div><!-- ezker zutabe bukaera -->

<!-- eskubiko zutabea -->
<div id="eskubia">





<div class="edukina">

<div class='edukina-argazkia-portada'><img  src='Repository/Imagenes/Pub_2/Issue_5225/thumbs/t_AzkenEzkale.jpg' width='99%' height='' alt='' /></div>
 <p class="urrea">ALEMANIA</p>
<h2 class="txikiena"><a href="azkenak/11/232298/es/Merkel-reelegida-904-votos">Merkel, reelegida con el 90,4% de los votos</a></h2>
 <p class="ordua">Eguneraketa:  2 ordu eta  2 min.</p>
<p>Angela Merkel ha sido reelegida por una aplastante mayor&iacute;a como presidenta de la CDU.</p>
</div>
<hr />



<div class="edukina">

 <p class="urrea">PINTURA</p>
<h2 class="txikiena"><a href="azkenak/11/232305/es/El-Museo-Bellas-Artes-Bilbo-expone-una-muestra-Roault">El Museo de Bellas Artes de Bilbo expone una muestra de Roault</a></h2>
 <p class="ordua">Eguneraketa:  1 ordu eta 42 min.</p>
<p>El Museo de Bellas Artes de Bilbo muestra 72 obras in&eacute;ditas del pintor Georges Roault en una muestra compuesta por 156 &oacute;leos y grabados.&nbsp;</p>
</div>
<hr />



<div class="edukina">

 <p class="urrea">CRISIS GRIEGA</p>
<h2 class="txikiena"><a href="azkenak/11/232303/es/Atenas-no-cumplira-objetivo-deficit-para-este-ano">Atenas no cumplirá el objetivo de déficit para este año</a></h2>
 <p class="ordua">Orain dela:  4  ordu</p>
<p>El Gobierno griego ha revisado al alza su objetivo de d&eacute;ficit, que eleva al 9,4% del PIB, frente al 8,1% previsto.</p>
<ul class="iconlist">
    <li class="ikonoa"><a href="/azkenak/11/232297/es/El-FMI-CE-BCE-realizan-una-nueva-evaluacion-cuentas-griegas">Nueva evaluaci&oacute;n de las cuentas griegas</a></li>
</ul>
</div>
<hr />



<div class="edukina">

<div class='edukina-argazkia-portada'><img  src='Repository/Imagenes/Pub_2/Issue_5225/thumbs/t_AzkenEzkvol.jpg' width='99%' height='' alt='' /></div>
 <p class="urrea">VOLCÁN</p>
<h2 class="txikiena"><a href="azkenak/11/232296/es/Elevan-250-victimas-mortales-Merapi">Elevan a 250 las víctimas mortales del Merapi</a></h2>
 <p class="ordua">Eguneraketa:  7 ordu eta 33 min.</p>
<p>Los equipos de rescate han encontrado otros diez cuerpos en torno al volc&aacute;n Merapi, lo que eleva a 250 la cifra de muertos.</p>
</div>
<hr />



<div class="edukina">

 <p class="urrea">AFGANISTÁN</p>
<h2 class="txikiena"><a href="azkenak/11/232295/es/Mueren-nueve-soldados-OTAN-ataques">Mueren nueve soldados de la OTAN en ataques</a></h2>
 <p class="ordua">Eguneraketa:  8 ordu eta 59 min.</p>
<p>Nueve soldados de la OTAN han muerto en varios ataques atribuidos a los talib&aacute;n.</p>
</div>
<hr />






</div></div>

<div class="edukina">
<ul class="iconlist"><li class="ikonoa"><a href="/azkenak/11/azkenak" class="beltza">Albiste guztiak</a></li></ul>
<hr /></div>




<!-- dosierrak -->
<div class="edukina-zutabea altuera56 margin10"><div class="dosierra"><div class="edukin-grisa txikia"><a href="/gaiak/atxiloketak/"><img src="/ird/atxiloketak.jpg" alt="Atxilotua" width="152" height="40" border="0" class="fezker markurikgabe" />DOSIERRA >></a></div>
 <a href="/gaiak/atxiloketak/" class="urdina txikia">Atxiloketak EHan</a></div>
<div class="dosierra"><div class="edukin-grisa txikia"><a href="/gaiak/lanistripuak/"><img src="http://ird.gara.net/b_istripu.gif" alt="lan istripuak" width="152" height="40" border="0" class="fezker markurikgabe" />DOSIERRA >></a></div>
 <a href="/gaiak/lanistripuak/" class="urdina txikia">Lan istripuak</a> </div>
</div>










<!-- paperezko edizio kaxa -->
<div id="impresa"><img src="/ird/paperezkoa.gif" alt="Edición impresa" width="204" height="28" class="markurikgabe" /></div>
<div id="gara"><img src="/ird/gara.gif" alt="Gara" width="112" height="27" class="markurikgabe fezker" />
<div id="hemeroteka"><a href="/paperezkoa/" class="beltza">Azalera joan</a></div>
</div>
<div class="edukina-zutabea goian-utsunerikez">
<!-- paperezko edizio sekzioak -->
<div class="hnav2">
<ul>
 <li><a href="/paperezkoa/20101115/egunekogaiak">Eguneko gaiak</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/euskalherria">Euskal Herria</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/iritzia">Iritzia</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/kirolak">Kirolak</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/mundua">Mundua</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/kultura">Kultura</a><span class="divider"> : </span></li>
 <li><a href="/paperezkoa/20101115/ekonomia">Ekonomia</a><span class="divider"> : </span></li>
</ul>
</div>
<div class="edukin-txuria">
<div class="edukina">
<!-- edukia apertura-->

	
<span class="zintiloa"> PROPUESTA DE LA IZQUIERDA ABERTZALE</span>
 <h2 class="paperezkoa"><a href="/paperezkoa/20101115/232137/es/La-izquierda-abertzale-ofrece-Aralar-EA-ir-juntos-Parlamento-navarro">La izquierda abertzale ofrece a Aralar y EA ir juntos al Parlamento navarro</a></h2>
<p>La izquierda abertzale ha propuesto oficialmente a EA y Aralar &laquo;conformar un sujeto electoral unitario&raquo; para las eleccones al Parlamento navarro, con el objetivo de &laquo;dar respuesta a la demanda de cambio pol&iacute;tico y social&raquo;. Lo sit&uacute;a adem&aacute;s como un paso hacia un nuevo escenario en que todos los proyectos puedan ser materializados.</p>



</div>

<div class="edukina">
<a href="/paperezkoa">
<img src="/paperezkoa/20101115/porta135.jpg" alt="Portada PDFan" width="135" height="196" border="0" class="feskubi" /></a>
 
	
<h2 class="paperezkoa"><a href="/paperezkoa/20101115/232255/es/17373-ponen-tope-humano-una-jornada-luto-records-ver"> 17.373 ponen el tope humano en una jornada de luto y de récords por ver</a></h2>
<p>Bajo una lluvia constante, 17.373 atletas cruzaron la meta del Boulevard en una jornada gris que no pudo concluir un asiduo a la prueba al sufrir una parada cardiaca. Iglesias volvi&oacute; a ganar a Chema Mart&iacute;nez, las et&iacute;opes se quedaron sin honores, pese a realizar las mejores marcas femeninas de siempre, y el triunfo se lo llev&oacute; Mar&iacute;a L&oacute;pez de Tejada.</p>


</div>


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101115/232213/es/Israel-estudia-oferta-EEUU-para-frenar-semanas-colonizacion"> Israel estudia la oferta de EEUU para frenar unas semanas la colonización</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101115/232230/es/Alliot-Marie-Juppe-nuevos-titulares-Exteriores-Defensa"> Alliot-Marie y Juppé, nuevos titulares de Exteriores y Defensa</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101115/232267/es/La-gasolina-llego-para-solo-tiempo"> La gasolina llegó para un solo tiempo</a></h2>
</div><hr />


	
<div class="edukina">
 <h2 class="paperezkoa-ertaina"><a href="/paperezkoa/20101115/232169/es/4500-metros-roca-virgen-3-meses-viaje-Groelandia"> 4.500 metros de roca virgen en 3 meses de viaje a Groelandia</a></h2>
</div><hr />




</div>
</div>


</div>
</div>
</div>

<!-- eskubiko zutabea -->
<div id="col-c" class="sidecol">











<div class="edukina-zutabea utsunea">
<!--/* OpenX Javascript Tag v2.8.7 */-->

<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://p.gara.net/www/delivery/ajs.php':'http://p.gara.net/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=8");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://p.gara.net/www/delivery/ck.php?n=a1ec2ad9&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://p.gara.net/www/delivery/avw.php?zoneid=8&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1ec2ad9' border='0' alt='' /></a></noscript>


</div>
 <div class="edukina-zutabea utsunea">
  <a href="/gaiak/elkarrizketak/index.php"><img src="/ird/gaiak/baner-elkarrizketak.jpg" class="markurikgabe" /></a>
</div>
















<!-- argazkien kaxa -->
<div class="edukina-zutabea utsunea goian-utsunerikez"><img src="http://ird.gara.net/argazkiak.gif" alt="Argazkiak" border="0" class="markurikgabe" />
 <div class="edukin-txuria txikia">

  

 <a href="/iruditan/5226/art232306.php">
 <img  src='../Repository/Imagenes/Pub_7/Issue_5226/thumbs/t_EgunHori01.jpg' width='84' height='60' title='EgunHori01.jpg' class= 'feskubi' alt='EgunHori01.jpg' />

 </a>
<a class="urdina" href="/iruditan/5226/art232306.php">
 Merkel, reelegida presidenta de la CDU con el 90,4% de los votos</a>
 
 
 </div>
</div>








<!-- eguneko gaia kaxa -->

	
<div class="edukina-zutabea utsunea goian-utsunerikez"><a href="/paperezkoa/20101115/232255/es/17373-ponen-tope-humano-una-jornada-luto-records-ver"><img src="/ird/egunekogaia.gif" alt="Eguneko gaia" border="0" class="markurikgabe" /></a>
 <div class="edukin-txuria txikia">
<a href="/paperezkoa/20101115/232255/es/17373-ponen-tope-humano-una-jornada-luto-records-ver">
<img  src='/Repository/Imagenes/Pub_3/Issue_5223/thumbs/p004_f01_145x120.jpg' width='84' height='70' title='p004_f01_145x120.jpg' class= 'feskubi' alt='p004_f01_145x120.jpg' />
 </a>
<a href="/paperezkoa/20101115/232255/es/17373-ponen-tope-humano-una-jornada-luto-records-ver"> 17.373 ponen el tope humano en una jornada de luto y de récords por ver</a>
 
 
  
 </div>
</div>


 <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="/eguraldia"><img src="/eguraldia/c.png" alt="Euskal-Herria" width="84" height="60" border="0" class="feskubi markurikgabe" /></a>
 <a href="/eguraldia"><img src="http://ird.gara.net/eguraldia.gif" alt="Eguraldia" width="61" height="15" border="0" class="markurikgabe" /></a>
 <p>Euskal Herrian</p>
 <p class="urdina"><a href="/eguraldia" class="urdina">Gaur - bihar</a></p>
 </div></div>
  <div class="edukina-zutabea utsunea">
 <div class="edukin-txuria txikia">
 <a href="http://www.info7.com"><img src="http://ird.gara.net/infozazpi.gif" alt="Info7 irratia" width="90" height="24" border="0" class="fezker markurikgabe" /></a>Irratia zuzenean<br /> 
 <a href="http://91.197.164.8:9062/listen.pls"><img src="http://ird.gara.net/iko_jeitsi.gif" width="13" height="9" class="markurikgabe" /></a> <a href="http://91.197.164.8:9062/listen.pls" class="urdina">Jaitsi lotura</a> </div>
</div>



</div>
</div></div>


<!-- oina azken div-ak orria ixten du --> 
<div id="footer" class="clear">
<div id="oinarr">

<div class="hnav3"><ul><li><a href="/index.php">Hasiera</a><span class="divider"> : </span></li>
<li><a href="/paperezkoa">Paperezko edizioa</a><span class="divider"> : </span></li>
<li><a href="/gaiak">Gaiak</a><span class="divider"> : </span></li>
<li><a href="/kontaktua/denda">Denda</a><span class="divider"> : </span></li>
</ul></div>
<a href="http://www.euskalherria.com"><img src="http://ird.gara.net/euskalherria.gif" width="159" height="20" alt="euskalherria.com" border="0" class="feskubi markurikgabe" /></a>

</div>
<div class="hnav4"><ul>
 <li>© Baigorri Argitaletxea<span class="divider"> : </span></li>
 <li><a href="/kontaktua/">Harremana</a><span class="divider"> : </span></li>
 <li><a href="/norgara/">Nor gara</a><span class="divider"> : </span></li>
 <li><a href="/kontaktua/publi">Iragarkiak</a><span class="divider"> : </span></li>
 <li>&nbsp;<img src="http://ird.gara.net/rss.gif" width="17" height="14" style="vertical-align: middle;" class="markurikgabe" alt="" /><a href="/rss/">RSS</a><span class="divider"> : </span></li>
</ul></div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2312022-6']);
  _gaq.push(['_setDomainName', 'www.gara.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

 </div>
 


</div>
</body>
</html>