	.dhtmlgoodies_window{
		width:300px;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		font-size:0.9em;
		position:absolute;
		overflow:hidden;	
		z-index:10000;	
	}
	.dhtmlgoodies_window div{
		position:relative;
	}
	.dhtmlgoodies_window .dhtmlgoodies_window_top{
		width:100%;
		height:17px;
		position:relative;
		background-color: #707070;
	}
	
	.dhtmlgoodies_window .top_buttons{
		float:right;
		z-index:10;
		position:absolute;
		right:0px;
		width:35px;
	}
	.top_buttons img{
		float:left;
		padding-left:2px;
		
	}
	.dhtmlgoodies_windowMiddle{
		border-left:3px solid #707070;
		
	}
	.dhtmlgoodies_windowContent{
		border-right:3px solid #707070;
		padding-left:5px;
		padding-right:2px;

		height:100%;
		overflow:hidden;
		background-color:#FFF;
	}
	.dhtmlgoodies_window_bottom{
		border-left: 3px solid #707070;
		border-right:3px solid #707070;
		border-bottom: 3px solid #707070;
		position:relative;
		height:0px;
		background-color:#FFFFFF;
	}
	.dhtmlgoodies_window_bottom img{
		float:right;
	}
	.topCenterImage{
		position:absolute;
		left:3px;
		width:5000px;
		height:17px;
	}
	.resizeImage{
		position:absolute;
		right:1px;
		bottom:1px;
	}
	.dhtmlgoodies_window_footer{
		width:100%;
		height:17px;
		position:relative;
		background-color: #707070;
	}
	.dhtmlgoodies_windowContent input,.viewNodeName{
	border:1px solid #707070;
	width:
	}
	
	.dhtmlgoodies_windowContent .viewNodeName{
		width:90%;
		margin:2.5%;
	}
	.dhtmlgoodies_windowContent input{
		width:90%;
		margin:5%;
	}
	.dhtmlgoodies_windowContent .viewNodeName{
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
	border-color:#99BAF3;
	background:#DCE7FB;	
	}
	.dhtmlgoodies_windowContent .viewNodeName .nodeLegend
	{
		display:block;
		font-weight:bold;

	}
	.dhtmlgoodies_buttons{
		z-index:999;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		text-align:center;
	
	}
	.dhtmlgoodies_buttons button{
		margin-left:5px;
		background:transparent;
		border:1px outset #000000;
		height:17px;
		font-size:9pt;
		font-weight:bold;
		color:#FFFFFF;
		
	}
	.dhtmlgoodies_buttons button:hover{
		border:1px inset #000000;
	}